/* shared styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Permanent Marker", cursive;
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  background-color: #e55473;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700px;
  padding: 20px 40px;
}
p {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* banner related styles */

.banner-container {
  display: flex;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.1);
  max-width: 1920px;
  max-height: 850px;
}

.banner-info {
  padding-left: 240px;
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 0;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 300;
  margin-top: 32px;
  margin-bottom: 32px;
}

.banner-pic {
  position: bottom;
}

/* featuting area styles */

.featuring-area-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
}
.featuring-description {
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 24px;
}

/* featuring img styles */

.featuring-area {
  display: flex;
  justify-content: space-around;
  padding: 0px 240px 0px 240px;
}

.img-background {
  border-radius: 300px 300px 0px 0px;
  border-width: 470px;
  padding: 110px 78px 0px 78px;
  background: rgba(167, 33, 98, 0.15);
}

.flower-name {
  text-align: center;
}

p > a {
  color: black;
}

/* services styles starts */
.sevice-container {
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 128px 240px;
  padding: 85px 300px 85px 300px;
}

.services {
  text-align: center;
}

.services > p {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 400;
  font-size: small;
}
/* service styles end */
/* bonus section starts */
/* bonus section end */
/* hot deal section starts */

.Hot-Deal-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}

.hot-deal-info {
  text-align: center;
}

.hot-deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.speicial-character {
  color: #e55473;
}
.hot-deal-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* hot deal section end */
